# DTSC670: Foundations of Machine Learning Models

## Assignment 2: COVID-19 Data Wrangling

#### Name: Hazel Mbambo


### CodeGrade
Please note that this assignment will be manually graded.  **You will have one attempt at submitting this assignment.**

Since we are merely using CodeGrade for this assignment as a platform to manually grade assignments, CodeGrade will not  execute your code for this assignment. Rather, it simply renders your Jupyter Notebook in the web browser. Therefore, any code blocks that generate output must be fully executed within the notebook prior to submission. Otherwise, we will not see the output of your code!

### Details

The purpose of this assignment is to hone your data wrangling skills. Your task for this assignment is to perform the data preparation as instructed in the `DTSC670_Assignment_2` pdf listed in Brightspace. After performing all the data preparation tasks outlined in the document, run the code in the "Prepare DataFrames for Grading" section.  

You are supplied an Excel file called `BrazilCOVIDData.xlsx` - be sure to put the data file in the same directory as this Jupyter Notebook. *Please note that it may take around 5 minutes to read-in all of the data in this file.*

In [39]:
#importing pandas
import pandas as pd

## **Data preparation**

#### **Exploratory Data Analysis**

To Construct
a notebook that reads in data from the Brazil Covid Data Excel file, then performs the necessary
data manipulations to obtain two Pandas DataFrames, we need to look at each tsb in the excel file to assertain which ones we need to add to our dataframe. We also need to explore the data to see what might need to be renamed, deleted.

####'Brazil Covid-19 data'

Performing data analysis on the first tab ('Brazil Covid-19 data') to find out what it contains.

In [40]:
#Importing from Excel File
brazildata = "BrazilCOVIDData.xlsx"
#reading in the first tab
df1 = pd.read_excel(brazildata, 'Brazil Covid-19 data')
df1

,Region,State,Municipality,State-code,Municipality-code,Health-region-code,Health-region-name,Date,Week #,Population as of 2019,Accumulated cases,New cases,Accumulated deaths,New deaths,New Recoveries,New followups (?),Interior/Metropolitan
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125,1,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125,1,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125,1,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125,2,1,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846765,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-20,34,3015268,143759,1997,2200,52,NaN,NaN,1.0
846766,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-21,34,3015268,145452,1693,2242,42,NaN,NaN,1.0
846767,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-22,34,3015268,147127,1675,2257,15,NaN,NaN,1.0
846768,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-23,35,3015268,148998,1871,2274,17,NaN,NaN,1.0
846769,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-24,35,3015268,150519,1521,2316,42,NaN,NaN,1.0

####'Municipality'
Since days is the number of days since the outbreak began in the respective capital city and there are 27 capital cities in Brazil, each capital city will have 151 days of recorded
data. We need to find which column hold the cities in order to calculate how many days since the out break.

After looking at the data, we concluded that the municipality column contained the city data that we needed.

In [41]:
#verifying that Municipality contains capital cities using randomly chosed city
df1.loc[df1['Municipality'] == 'João Pessoa'].head(2)

,Region,State,Municipality,State-code,Municipality-code,Health-region-code,Health-region-name,Date,Week #,Population as of 2019,Accumulated cases,New cases,Accumulated deaths,New deaths,New Recoveries,New followups (?),Interior/Metropolitan
207889,Nordeste,PB,João Pessoa,25,250750.0,25001.0,1ª REGIAO MATA ATLANTICA,2020-03-27,13,809015,0,0,0,0,NaN,NaN,1.0
207890,Nordeste,PB,João Pessoa,25,250750.0,25001.0,1ª REGIAO MATA ATLANTICA,2020-03-28,13,809015,10,10,0,0,NaN,NaN,1.0

In [42]:
#Changing 'Municipality' column to CITY. This will make it easy to merge later on.
df1 = df1.rename(columns={'Municipality': 'CITY'})
df1.head(2)

,Region,State,CITY,State-code,Municipality-code,Health-region-code,Health-region-name,Date,Week #,Population as of 2019,Accumulated cases,New cases,Accumulated deaths,New deaths,New Recoveries,New followups (?),Interior/Metropolitan
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125,1,1,0,0,NaN,NaN,NaN

####'**Temperature by State'**

Performing data analysis on the second tab ('Temperature by State') to find out what it contains. Additionally we want to see if we can use it to calculate the days since outbreak.

The data below shows us that this tab has a city and is_capital column. These may be useful for finding our capital cities rows.

In [43]:
#viewing second tab
df2 = pd.read_excel(brazildata, 'Temperature by State')
df2

,STATE_ABBR,STATE,CITY,IS_CAPITOL,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,YEARS,# CITIES
0,AC,Acre,NaN,NaN,77.2,78.0,77.9,77.4,77.1,76.0,75.0,74.4,76.0,77.8,78.3,78.3,78.3,28,4
1,AC,Acre,"CRUSEIRO DO SUL, ACRE",NaN,76.8,77.5,77.2,77.2,76.8,76.5,75.2,74.8,76.5,77.0,77.4,77.4,77.4,28,1
2,AC,Acre,"FLORESCENCIA, ACRE",NaN,80.0,80.0,80.0,80.0,79.0,78.0,77.0,77.0,79.0,80.0,81.0,81.0,81.0,28,1
3,AC,Acre,"SENA MADUREIRA, ACRE",NaN,75.0,77.0,77.0,75.0,75.0,73.0,73.0,71.0,73.0,77.0,77.0,77.0,77.0,28,1
4,AC,Acre,"TARAUACÁ, ACRE",NaN,76.8,77.5,77.5,77.5,77.4,76.5,74.8,74.7,75.6,77.0,77.9,77.9,77.9,28,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,TO,TOCANTINS,"PARANÃ, TOCANTINS",NaN,77.0,77.0,77.2,77.9,77.9,76.1,73.6,73.2,75.9,79.7,79.5,78.1,77.5,30,1
59,TO,TOCANTINS,"PEIXE, TOCANTINS",NaN,78.1,77.9,77.9,78.3,78.8,78.1,75.4,75.4,78.1,80.8,80.2,79.0,77.9,30,1
60,TO,TOCANTINS,"PORTO NACIONAL, TOCANTINS",NaN,79.0,77.9,77.7,78.1,79.0,79.2,77.5,77.5,80.4,82.4,80.4,79.3,78.3,30,1
61,TO,TOCANTINS,"TAGUATINGA, TOCANTINS",NaN,76.3,75.6,75.7,75.9,76.3,75.6,74.5,74.1,77.2,79.9,78.3,76.5,75.7,30,1
62,TO,TOCANTINS,"TUPIRAMA, TOCANTINS",NaN,78.6,77.5,77.7,78.1,78.8,79.2,77.5,77.7,79.5,81.0,79.5,78.6,77.9,30,1

####**analyzing the capital cities in this df using 'IS_CAPITAL' column**. 

The new dataframe only has 11 cities as capital cities but we know that Brazil has 27 capital cities.

In [44]:
#view which city in d2 are state capitals
IS_CAPITOL = df2.loc[df2['IS_CAPITOL'] == 'y']
IS_CAPITOL

,STATE_ABBR,STATE,CITY,IS_CAPITOL,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,YEARS,# CITIES
20,GO,Goias,Goiânia,y,73.8,74.8,74.8,75.2,74.5,72.0,69.6,69.6,73.4,76.1,76.3,75.4,74.3,28,1
22,MA,MARANHAO,São Luís,y,79.0,79.0,78.3,78.1,78.4,78.6,78.6,78.1,78.6,79.3,79.9,80.4,80.1,71,1
24,MT,Mato Grosso,Cuiabá,y,80.0,81.0,82.0,81.0,80.0,77.0,75.0,75.0,78.0,81.0,82.0,81.0,81.0,35,1
26,MS,Mato Grosso do Sul,Campo Grande,y,73.0,76.3,76.1,75.6,72.7,69.4,66.9,68.5,70.5,72.5,75.6,75.6,75.7,34,1
28,MG,Mina Gerais,Belo Horizonte,y,70.0,73.0,73.4,73.2,71.1,67.3,65.3,64.4,67.5,70.0,71.1,72.0,72.0,30,1
30,PA,Para,Belém,y,78.6,78.1,77.7,77.9,78.1,78.4,78.8,78.3,78.8,78.8,79.5,79.7,79.2,32,1
32,PB,Paraiba,João Pessoa,y,79.0,80.8,81.0,80.6,80.1,78.8,77.4,75.6,75.7,77.2,79.3,80.1,80.4,75,1
34,PR,Parana,Curitiba,y,62.2,68.7,69.1,67.3,63.0,58.1,55.6,55.2,57.4,59.0,61.7,64.8,66.7,30,1
36,PE,Pernambuco,Recife,y,78.1,80.1,79.7,79.5,79.0,77.5,76.1,75.0,75.9,76.5,77.9,78.8,80.1,78,1
38,PI,Piaui,Teresina,y,82.0,81.0,81.0,81.0,81.0,81.0,80.0,80.0,81.0,84.0,84.0,84.0,84.0,78,1
40,RJ,Rio de Janerio,Rio de Janeiro,y,75.6,81.0,81.5,79.9,76.5,72.7,70.5,69.8,71.8,73.4,74.5,76.1,78.8,28,1
42,RN,Rio Grande do Norte,Natal,y,80.0,82.0,82.0,82.0,81.0,80.0,79.0,77.0,78.0,79.0,80.0,81.0,82.0,77,1
44,RS,Rio Grande do Sol,Porto Alegre,y,67.1,76.3,76.3,73.6,67.8,62.4,57.7,57.9,59.4,62.2,66.4,70.2,73.9,30,1
46,RO,Rondonia,Porto Velho,y,78.1,77.9,77.9,78.1,78.3,77.5,76.5,76.3,78.6,79.2,79.0,78.8,77.9,30,1
48,RR,Roraima,Boa Vista,y,81.3,81.5,82.4,83.1,82.4,80.4,78.6,78.4,79.9,81.9,82.8,82.4,81.7,30,1
50,SC,Santa Cantarina,Florianópolis,y,68.7,75.6,76.3,74.5,70.0,66.0,62.1,61.7,62.4,64.2,67.3,70.3,73.4,28,1
52,SP,Sao Paulo,São Paulo,y,68.7,75.6,76.3,74.5,70.0,66.0,62.1,61.7,62.4,64.2,67.3,70.3,73.4,32,1
54,SE,Sergipe,Aracaju,y,78.8,80.6,80.8,80.8,80.1,78.8,77.2,75.9,75.9,77.0,78.6,79.3,79.9,78,1

##'City area'

Performing data analysis on the third tab ('City area') to find out what it contains. Additionally we want to see if we can use it to calculate the days since outbreak.

This tab in the excel file has all 27 capital cities we will need.

In [45]:
#viewing third tab
df3 = pd.read_excel(brazildata, 'City area')
df3

    ST            City      SQ_KM
0   AC      Rio Branco   8835.000
1   AL          Maceió    511.000
2   AP          Macapá   6407.000
3   AM          Manaus  11400.000
4   BA        Salvador    693.800
5   CE       Fortaleza    313.800
6   DF        Brasília   5802.000
7   ES         Vitória     93.380
8   GO         Goiânia    739.000
9   MA        São Luís    827.141
10  MT          Cuiabá   3292.000
11  MS    Campo Grande   8096.000
12  MG  Belo Horizonte    330.900
13  PA           Belém   1059.400
14  PB     João Pessoa    211.500
15  PR        Curitiba    432.170
16  PE          Recife    218.000
17  PI        Teresina   1390.000
18  RJ  Rio de Janeiro   1260.000
19  RN           Natal    169.300
20  RS    Porto Alegre    496.800
21  RO     Porto Velho  34091.000
22  RR       Boa Vista   5687.000
23  SC   Florianópolis    675.400
24  SP       São Paulo   1520.000
25  SE         Aracaju    181.857
26  TO          Palmas   2220.000

In [46]:
#renaming city column to CITY to make it easier when we merge this with the first tab.
df3 = df3.rename(columns={'City': 'CITY'})
df3.head(2)

   ST        CITY   SQ_KM
0  AC  Rio Branco  8835.0
1  AL      Maceió   511.0

In [47]:
#Add column to df3 that can be used to filter if needed
df3['state_capital_city'] = 'y'
df3.head(2)

   ST        CITY   SQ_KM state_capital_city
0  AC  Rio Branco  8835.0                  y
1  AL      Maceió   511.0                  y

##'Brazil State Stats'
Performing data analysis on the fourth tab ('Brazil State Stats') to find out what it contains. Additionally we want to see if we can use it to calculate the days since outbreak.

By analyzing the data we can see that the 'unnamed 2' column contains the capital cities. The column will need to be fixed.

In [48]:
#viewing 4th tab
df4 = pd.read_excel(brazildata, 'Brazil State Stats')
df4

,https://brazil-help.com/brazilian_states.htm,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BR,Brazil,Brasília,-,8514204,"192,000,000(2008 estimate)",82.5/17.5,5564,"R$8,300",72.24
2,NaN,(entire country),NaN,NaN,(slightly larger than the Continental United S...,NaN,NaN,NaN,NaN,NaN
3,Common Two Letter,State,Capitol City,Region,Size,Population,% Pop.,Number of Municipal Districts,Per Capita GNP in Reais (R$),Life
4,Abbreviation,NaN,NaN,NaN,(in km²),(2007 estimate),Urban/Rural,NaN,NaN,Expectancy
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(2007 projection)
6,AC,Acre,Rio Branco,North,152581,664000,69.6/30.4,24,"R$5,413",71.1
7,AL,Alagoas,Maceió,Northeast,27767,3557000,67.4/32.6,102,"R$3,876",65.4
8,AP,Amapá,Macapá,North,142814,619000,93.7/6.3,16,"R$6,796",70.1
9,AM,Amazonas,Manaus,North,1570745,3351000,77.6/22.4,62,"R$11,434",71.3
10,BA,Bahia,Salvador,Northeast,564692,13974000,67.4/32.6,417,"R$6,350",71.7
11,CE,Ceará,Fortaleza,Northeast,148825,8238000,76.4/23.6,184,"R$4,169",69.9
12,DF,Distrito Federal,Brasília,Center West,5801,2393000,94/6,1,"R$19,071",75.1
13,ES,Espírito Santo,Vitória,Southeast,46077,3474000,82.2/17.8,78,"R$10,288",73.4
14,GO,Goiás,Goiânia,Center West,340086,5750000,88.6/11.4,246,"R$7,500",73.1
15,MA,Maranhão,São Luís,Northeast,331983,6199000,67/33,217,"R$2,748",67.2
16,MT,MatoGrosso,Cuiabá,Center West,903357,2866000,76.6/23.4,141,"R$10,161",72.9
17,MS,MatoGrosso do Sul,Campo Grande,Center West,357124,2304000,84.7/15.3,78,"R$8,944",73.5
18,MG,Minas Gerais,Belo Horizonte,Southeast,586528,19522000,84.7/15.3,853,"R$8,770",74.4
19,PA,Pará,Belém,North,1247689,7136000,75.2/24.8,143,"R$4,991",71.7
20,PB,Paraíba,João Pessoa,Northeast,56440,3595886,75.8/24.2,223,"R$3,872",67.9
21,PR,Paraná,Curitiba,South,199315,10261856,83.6/16.4,399,"R$9,891",73.2
22,PE,Pernambuco,Recife,Northeast,98311,8518000,76.8/23.2,185,"R$5,730",67.9
23,PI,Piauí,Teresina,Northeast,251529,3041000,60.7/39.3,223,"R$2,892",68.8
24,RJ,Rio de Janeiro,Rio de Janeiro,Southeast,43696,15593000,96.9/3.1,92,"R$14,638",72.8
25,RN,Rio Grande do Norte,Natal,Northeast,52796,3051000,72.4/27.6,167,"R$5,369",70.1
26,RS,Rio Grande do Sul,Porto Alegre,South,281748,10984000,801.5/18.5,496,"R$ 13,320",74.8
27,RO,Rondônia,Porto Velho,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
28,RR,Roraima,Boa Vista,North,224298,405000,81.6/17.7,15,"R$4,881",69.6
29,SC,Santa Catarina,Florianópolis,South,95346,5974000,82.5/17.5,293,"R$12,158",75
30,SP,São Paulo,São Paulo,Southeast,248209,41164000,94.5/5.5,645,"R$13,725",73.9
31,SE,Sergipe,Aracajú,Northeast,21910,2007000,82.2/17.8,75,"R$6,782",70.6
32,TO,Tocantins,Palmas,North,277620,1337000,74.1/25.9,139,"R$3,776",71

In [49]:
#rename Unnamed: 2 column to CITY and dropping the fourth row that populated in the wrong place and dropped the brasillia row (3) as it duplicated the final/merged dataframe further down.
df4 = df4.rename(columns={'Unnamed: 2': 'CITY'})
df4 = df4.drop(df4.index[0:5])
df4

,https://brazil-help.com/brazilian_states.htm,Unnamed: 1,CITY,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(2007 projection)
6,AC,Acre,Rio Branco,North,152581,664000,69.6/30.4,24,"R$5,413",71.1
7,AL,Alagoas,Maceió,Northeast,27767,3557000,67.4/32.6,102,"R$3,876",65.4
8,AP,Amapá,Macapá,North,142814,619000,93.7/6.3,16,"R$6,796",70.1
9,AM,Amazonas,Manaus,North,1570745,3351000,77.6/22.4,62,"R$11,434",71.3
10,BA,Bahia,Salvador,Northeast,564692,13974000,67.4/32.6,417,"R$6,350",71.7
11,CE,Ceará,Fortaleza,Northeast,148825,8238000,76.4/23.6,184,"R$4,169",69.9
12,DF,Distrito Federal,Brasília,Center West,5801,2393000,94/6,1,"R$19,071",75.1
13,ES,Espírito Santo,Vitória,Southeast,46077,3474000,82.2/17.8,78,"R$10,288",73.4
14,GO,Goiás,Goiânia,Center West,340086,5750000,88.6/11.4,246,"R$7,500",73.1
15,MA,Maranhão,São Luís,Northeast,331983,6199000,67/33,217,"R$2,748",67.2
16,MT,MatoGrosso,Cuiabá,Center West,903357,2866000,76.6/23.4,141,"R$10,161",72.9
17,MS,MatoGrosso do Sul,Campo Grande,Center West,357124,2304000,84.7/15.3,78,"R$8,944",73.5
18,MG,Minas Gerais,Belo Horizonte,Southeast,586528,19522000,84.7/15.3,853,"R$8,770",74.4
19,PA,Pará,Belém,North,1247689,7136000,75.2/24.8,143,"R$4,991",71.7
20,PB,Paraíba,João Pessoa,Northeast,56440,3595886,75.8/24.2,223,"R$3,872",67.9
21,PR,Paraná,Curitiba,South,199315,10261856,83.6/16.4,399,"R$9,891",73.2
22,PE,Pernambuco,Recife,Northeast,98311,8518000,76.8/23.2,185,"R$5,730",67.9
23,PI,Piauí,Teresina,Northeast,251529,3041000,60.7/39.3,223,"R$2,892",68.8
24,RJ,Rio de Janeiro,Rio de Janeiro,Southeast,43696,15593000,96.9/3.1,92,"R$14,638",72.8
25,RN,Rio Grande do Norte,Natal,Northeast,52796,3051000,72.4/27.6,167,"R$5,369",70.1
26,RS,Rio Grande do Sul,Porto Alegre,South,281748,10984000,801.5/18.5,496,"R$ 13,320",74.8
27,RO,Rondônia,Porto Velho,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
28,RR,Roraima,Boa Vista,North,224298,405000,81.6/17.7,15,"R$4,881",69.6
29,SC,Santa Catarina,Florianópolis,South,95346,5974000,82.5/17.5,293,"R$12,158",75
30,SP,São Paulo,São Paulo,Southeast,248209,41164000,94.5/5.5,645,"R$13,725",73.9
31,SE,Sergipe,Aracajú,Northeast,21910,2007000,82.2/17.8,75,"R$6,782",70.6
32,TO,Tocantins,Palmas,North,277620,1337000,74.1/25.9,139,"R$3,776",71

In [50]:
#Renaming Aracajú using find and replace function before merging so it isnt dropped. During our merging process below we saw it was getting dropped.
df4.CITY = df4.CITY.replace({"Aracajú": "Aracaju"})	
df4

,https://brazil-help.com/brazilian_states.htm,Unnamed: 1,CITY,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(2007 projection)
6,AC,Acre,Rio Branco,North,152581,664000,69.6/30.4,24,"R$5,413",71.1
7,AL,Alagoas,Maceió,Northeast,27767,3557000,67.4/32.6,102,"R$3,876",65.4
8,AP,Amapá,Macapá,North,142814,619000,93.7/6.3,16,"R$6,796",70.1
9,AM,Amazonas,Manaus,North,1570745,3351000,77.6/22.4,62,"R$11,434",71.3
10,BA,Bahia,Salvador,Northeast,564692,13974000,67.4/32.6,417,"R$6,350",71.7
11,CE,Ceará,Fortaleza,Northeast,148825,8238000,76.4/23.6,184,"R$4,169",69.9
12,DF,Distrito Federal,Brasília,Center West,5801,2393000,94/6,1,"R$19,071",75.1
13,ES,Espírito Santo,Vitória,Southeast,46077,3474000,82.2/17.8,78,"R$10,288",73.4
14,GO,Goiás,Goiânia,Center West,340086,5750000,88.6/11.4,246,"R$7,500",73.1
15,MA,Maranhão,São Luís,Northeast,331983,6199000,67/33,217,"R$2,748",67.2
16,MT,MatoGrosso,Cuiabá,Center West,903357,2866000,76.6/23.4,141,"R$10,161",72.9
17,MS,MatoGrosso do Sul,Campo Grande,Center West,357124,2304000,84.7/15.3,78,"R$8,944",73.5
18,MG,Minas Gerais,Belo Horizonte,Southeast,586528,19522000,84.7/15.3,853,"R$8,770",74.4
19,PA,Pará,Belém,North,1247689,7136000,75.2/24.8,143,"R$4,991",71.7
20,PB,Paraíba,João Pessoa,Northeast,56440,3595886,75.8/24.2,223,"R$3,872",67.9
21,PR,Paraná,Curitiba,South,199315,10261856,83.6/16.4,399,"R$9,891",73.2
22,PE,Pernambuco,Recife,Northeast,98311,8518000,76.8/23.2,185,"R$5,730",67.9
23,PI,Piauí,Teresina,Northeast,251529,3041000,60.7/39.3,223,"R$2,892",68.8
24,RJ,Rio de Janeiro,Rio de Janeiro,Southeast,43696,15593000,96.9/3.1,92,"R$14,638",72.8
25,RN,Rio Grande do Norte,Natal,Northeast,52796,3051000,72.4/27.6,167,"R$5,369",70.1
26,RS,Rio Grande do Sul,Porto Alegre,South,281748,10984000,801.5/18.5,496,"R$ 13,320",74.8
27,RO,Rondônia,Porto Velho,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
28,RR,Roraima,Boa Vista,North,224298,405000,81.6/17.7,15,"R$4,881",69.6
29,SC,Santa Catarina,Florianópolis,South,95346,5974000,82.5/17.5,293,"R$12,158",75
30,SP,São Paulo,São Paulo,Southeast,248209,41164000,94.5/5.5,645,"R$13,725",73.9
31,SE,Sergipe,Aracaju,Northeast,21910,2007000,82.2/17.8,75,"R$6,782",70.6
32,TO,Tocantins,Palmas,North,277620,1337000,74.1/25.9,139,"R$3,776",71

# Importing Data

DATA INFO


*   days_cube and days_sq are the cubed and squared values of days, 
respectively
*   days is the number of days since the outbreak began in the respective capital city, which always begins with zero and adds 1 day for each row of recorded data for each capital city. There are 27 capital cities in Brazil. Each capital city has 151 days of recorded data.
*   pop_dense_sq is the squared value of pop_dens
*   pop is the city population
*   Population density is defined as the population of a city divided by the area in kilometers squared of the city.

####**Merging all the data frames by city**
Putting all 4 tab/dataframes together

In [51]:
#MERGE BY 'CITY' columns
merged_df = df1.merge(df2, how='inner', on = 'CITY').merge(df3,  how='inner', on='CITY').merge(df4,  how='inner', on='CITY')
merged_df

,Region,State,CITY,State-code,Municipality-code,Health-region-code,Health-region-name,Date,Week #,Population as of 2019,...,state_capital_city,https://brazil-help.com/brazilian_states.htm,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-27,13,529544,...,y,RO,Rondônia,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
1,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-28,13,529544,...,y,RO,Rondônia,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
2,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-29,14,529544,...,y,RO,Rondônia,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
3,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-30,14,529544,...,y,RO,Rondônia,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
4,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-31,14,529544,...,y,RO,Rondônia,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5129,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-20,34,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5130,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-21,34,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5131,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-22,34,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5132,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-23,35,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5133,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-24,35,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1

In [52]:
#veryfying using locate Aracaju to make sure it is not dropped
merged_df.loc[merged_df['CITY'].str.contains("Aracaju", case=False)].head(2)

,Region,State,CITY,State-code,Municipality-code,Health-region-code,Health-region-name,Date,Week #,Population as of 2019,...,state_capital_city,https://brazil-help.com/brazilian_states.htm,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
3322,Nordeste,SE,Aracaju,28,280030.0,28001.0,ARACAJU,2020-03-27,13,657013,...,y,SE,Sergipe,Northeast,21910,2007000,82.2/17.8,75,"R$6,782",70.6
3323,Nordeste,SE,Aracaju,28,280030.0,28001.0,ARACAJU,2020-03-28,13,657013,...,y,SE,Sergipe,Northeast,21910,2007000,82.2/17.8,75,"R$6,782",70.6

In [53]:
#Originaly used this filtering to analyze the df for where the duplicate was occuring.
#Since we were getting 302 rows for brasillia after merge, we want to make sure deleting it from our df4 corrected this.
merged_df.loc[merged_df['CITY'].str.contains("Brasília", case=False)]

,Region,State,CITY,State-code,Municipality-code,Health-region-code,Health-region-name,Date,Week #,Population as of 2019,...,state_capital_city,https://brazil-help.com/brazilian_states.htm,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
4983,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-03-27,13,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
4984,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-03-28,13,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
4985,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-03-29,14,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
4986,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-03-30,14,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
4987,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-03-31,14,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5129,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-20,34,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5130,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-21,34,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5131,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-22,34,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5132,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-23,35,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5133,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-24,35,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1

####Trying different ways of merging to see which one is best

Using the 'Interior/Metropolitan' column was best as merging using this column returned 4077 rows (Interpreted as no duplicates). 151 days of recorded data times 27 capital city would give us 4077 rows. The other code blocks were deleted.

In [54]:
merge_via_interior = merged_df.loc[merged_df['Interior/Metropolitan'] == 1.0]
final_df = merge_via_interior.dropna(subset=['CITY'])
final_df

,Region,State,CITY,State-code,Municipality-code,Health-region-code,Health-region-name,Date,Week #,Population as of 2019,...,state_capital_city,https://brazil-help.com/brazilian_states.htm,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-27,13,529544,...,y,RO,Rondônia,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
1,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-28,13,529544,...,y,RO,Rondônia,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
2,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-29,14,529544,...,y,RO,Rondônia,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
3,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-30,14,529544,...,y,RO,Rondônia,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
4,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-31,14,529544,...,y,RO,Rondônia,North,237576,1567000,68.2/31.8,52,"R$6,238",70.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5129,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-20,34,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5130,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-21,34,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5131,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-22,34,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5132,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-23,35,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1
5133,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-24,35,3015268,...,y,DF,Distrito Federal,Center West,5801,2393000,94/6,1,"R$19,071",75.1

## **Creating our features dataframe**
Since the 'number of days since the outbreak' will be each row of recorded data for each capital city, we need an index column.

In [55]:
final_df['days'] = final_df.groupby('CITY').cumcount()
#Confirming that it counted the 151 days for each city
view_index = final_df[['days', 'CITY']]
view_index

      days         CITY
0        0  Porto Velho
1        1  Porto Velho
2        2  Porto Velho
3        3  Porto Velho
4        4  Porto Velho
...    ...          ...
5129   146     Brasília
5130   147     Brasília
5131   148     Brasília
5132   149     Brasília
5133   150     Brasília

[4077 rows x 2 columns]

####Putting it together
The features DataFrame must contain the following feature columns in this exact order: days_cube,
days_sq, days, temp, pop_dense_sq, pop_dense, pop.

In [56]:
#creating the data frame
features = pd.DataFrame()
features

Empty DataFrame
Columns: []
Index: []

#### **Getting our days variables**

In [57]:
#cubing and squaring the days index/count column we created and puttiing them into our dataframe
features['days_cube']=final_df['days']**3
features['days_sq']=final_df['days']**2
features['days']=final_df['days']
features

      days_cube  days_sq  days
0             0        0     0
1             1        1     1
2             8        4     2
3            27        9     3
4            64       16     4
...         ...      ...   ...
5129    3112136    21316   146
5130    3176523    21609   147
5131    3241792    21904   148
5132    3307949    22201   149
5133    3375000    22500   150

[4077 rows x 3 columns]

####**Add Temp feature**

In [58]:
#adding the ANNUAL column from the merged df and naming it
features['temp']=final_df['ANNUAL']
features

      days_cube  days_sq  days  temp
0             0        0     0  78.1
1             1        1     1  78.1
2             8        4     2  78.1
3            27        9     3  78.1
4            64       16     4  78.1
...         ...      ...   ...   ...
5129    3112136    21316   146  69.1
5130    3176523    21609   147  69.1
5131    3241792    21904   148  69.1
5132    3307949    22201   149  69.1
5133    3375000    22500   150  69.1

[4077 rows x 4 columns]

####**Add Popolation Features**
●pop_dense_sq is the squared value of pop_dense
● pop is the city population
● Population density is defined as the population of a city divided by the area in kilometers
squared of the city.

In [59]:
#checking data type 
final_df.dtypes['Population as of 2019']

dtype('O')

In [60]:
final_df.dtypes['SQ_KM']

dtype('float64')

In [61]:
#since we need to do calculations to the ['Population as of 2019'] column, we need to change it to an interger
final_df['Population as of 2019'] = final_df['Population as of 2019'].astype('int')
final_df.dtypes['Population as of 2019']

dtype('int64')

In [62]:
#Doing our calculations to the population column and adding the needed columns to our df
#order:pop_dense_sq, pop_dense, pop
features['pop_dense_sq']=(final_df['Population as of 2019']/final_df['SQ_KM'])**2
features['pop_dense']=final_df['Population as of 2019']/final_df['SQ_KM']
features['pop']=final_df['Population as of 2019']
#viewing our completed features DF
features

      days_cube  days_sq  days  temp   pop_dense_sq   pop_dense      pop
0             0        0     0  78.1     241.281832   15.533249   529544
1             1        1     1  78.1     241.281832   15.533249   529544
2             8        4     2  78.1     241.281832   15.533249   529544
3            27        9     3  78.1     241.281832   15.533249   529544
4            64       16     4  78.1     241.281832   15.533249   529544
...         ...      ...   ...   ...            ...         ...      ...
5129    3112136    21316   146  69.1  270082.464872  519.694588  3015268
5130    3176523    21609   147  69.1  270082.464872  519.694588  3015268
5131    3241792    21904   148  69.1  270082.464872  519.694588  3015268
5132    3307949    22201   149  69.1  270082.464872  519.694588  3015268
5133    3375000    22500   150  69.1  270082.464872  519.694588  3015268

[4077 rows x 7 columns]

##**Creating response data frame**
This will contain the
accumulated case counts column for the capital cities. This is the target/ what we want the model to predict

In [63]:
# creating the dataframe and adding the accumulated cases
response = pd.DataFrame()
response = final_df[['Accumulated cases']]
# Get Final Response DataFrame
response

      Accumulated cases
0                     0
1                     5
2                     5
3                     5
4                     6
...                 ...
5129             143759
5130             145452
5131             147127
5132             148998
5133             150519

[4077 rows x 1 columns]

In [64]:
#importing numpy for below code to work
import numpy as np

# Prepare DataFrames for Grading

**Do not make changes to the below code**

After completing all data preparation tasks, run the following four cells to prepare your DataFrame for grading by:

1. Outputting the `features` and `response` DataFrames (you do not need to print).

2. Using the NumPy [around()](https://numpy.org/doc/stable/reference/generated/numpy.around.html) function to round all the values in both DataFrames to ___ZERO decimal places___.  You are calling these `features_round` and `response_round`, respectively.

3. Computing the sum of every column for both `features_round` and `response_round`, and saving those values as `features_final` and `response_final`.

___Finally, you are printing your final answer using the `print()` function.___

___Be sure to run all cells of your notebook prior to submitting, so that all output is rendered, visible and there are no error messages.___

In [65]:
features

      days_cube  days_sq  days  temp   pop_dense_sq   pop_dense      pop
0             0        0     0  78.1     241.281832   15.533249   529544
1             1        1     1  78.1     241.281832   15.533249   529544
2             8        4     2  78.1     241.281832   15.533249   529544
3            27        9     3  78.1     241.281832   15.533249   529544
4            64       16     4  78.1     241.281832   15.533249   529544
...         ...      ...   ...   ...            ...         ...      ...
5129    3112136    21316   146  69.1  270082.464872  519.694588  3015268
5130    3176523    21609   147  69.1  270082.464872  519.694588  3015268
5131    3241792    21904   148  69.1  270082.464872  519.694588  3015268
5132    3307949    22201   149  69.1  270082.464872  519.694588  3015268
5133    3375000    22500   150  69.1  270082.464872  519.694588  3015268

[4077 rows x 7 columns]

In [66]:
response

      Accumulated cases
0                     0
1                     5
2                     5
3                     5
4                     6
...                 ...
5129             143759
5130             145452
5131             147127
5132             148998
5133             150519

[4077 rows x 1 columns]

In [67]:
features_round = np.around(features, decimals=0)
features_final = features_round.sum(axis=0)
print(features_final)

days_cube       3.462902e+09
days_sq         3.067942e+07
days            3.057750e+05
temp            3.095500e+05
pop_dense_sq    6.186755e+10
pop_dense       1.127728e+07
pop             7.571160e+09
dtype: float64

In [68]:
response_round = np.around(response, decimals=0)
response_final = response_round.sum(axis=0)
print(response_final)

Accumulated cases    61281356
dtype: int64